/*
Style.css: Hoja de estilos del site

TODO: Probar otras resoluciones
Probar en IE6
*/
/* ELEMENTOS COMUNES */
body {
	margin-right: 0;
	padding: 0;
}

html, body{
	/* todo div por encima del fullscreen debe llevar el alto */
	height:100%;
	min-height:100%;
	margin:0;
	overflow: hidden;
	z-index: -10;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body.index {
	background:url('../images/home.png') center no-repeat;
	display:block;
	position:relative;
	min-width:100%;
	min-height:100%;

	background-size: cover;
}

body.servicios {
	background:url('../images/servicios.png')center no-repeat;
	display:block;position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}

body.obras {
	background:url('../images/obras.png')center no-repeat;
	display:block;position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}

body.nosotros,
body.contacto {
	background:url('../images/nosotros.png');
	display:block;position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}


/* CONTENEDOR PRINCIPAL */
#container {
	display:block;
	position:relative;
	z-index:-1;
	min-width:100%;
	min-height:100%;
}

/* TÍTULOS */
.titulo-home,
.titulo { /* Titulo: lo que Dice "Juan Poggi - Arquitecto */
	-webkit-animation: fadein 3s; 
	-moz-animation: fadein 3s; 
	-ms-animation: fadein 3s;
	-o-animation: fadein 3s; 
	animation: fadein 3s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
	}​

/* Opera */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
	}​

.titulo {
	color: rgba(69, 33, 33, 1);
	position: absolute;
	left: 6.750em;
	top: 1.5em;	
}

.titulo-home {
	color: rgba(69, 33, 33, 1);
	position:absolute;
	top: 40%;
	left: 15%;
}

.titulo1 {
	font-size: 28pt;
}

.titulo2 {
	font-size: 16pt;
}

.titulo1-home {
	font-size: 36pt;
}

.titulo2-home {
	font-size: 20pt;
}

.titulo ul li,
.titulo-home ul li {
	display: inline-block;
	padding: 2px 5px; /*Separar el texto*/
	margin:8px; /* Separar los botones */
}

.titulo ul a,
.titulo ul a:visited {
	color: rgba(69, 33, 33, 1);
	text-decoration: none;
}

/* CONTENIDO DINÁMICO DEL SITE */

.en-construccion {
	position:absolute;
	top: 50%;
	left: 19%;
	color: #fff;
}

.contenido-obras {
	position:absolute;
	top: 31%;
	left: 18%;
	color: #fff;
	height: 25em; 
}


/* NAVIGATION BAR AKA BOTONERA */

#botonera {
	color: #fff;
	font-size: 11pt;
	text-align:center;
	vertical-align:middle;
}

#botonera ul li {
	background-color:rgba(69, 33, 33, 1);
	display: inline-block;
	padding: 2px 7px; /*Separar el texto*/
	margin:8px; /* Separar los botones */
	opacity: .4;
	transition: opacity .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
}

#botonera ul a {
	color: #fff;
	text-decoration: none;
}

#botonera li.servicios,
#botonera li.servicios-otras {
	top: 1.50em;
	left: 58.5em;
	position: absolute;
}

#botonera li.contacto,
#botonera li.contacto-otras
 {
	top: 1.50em;
	left: 71.750em;
	position: absolute;
}

#botonera li.obras,
#botonera li.nosotros,
#botonera li.obras-otras {
	top: 1.50em;
	left: 45.250em;
	position: absolute;
}

#botonera li.obras,
#botonera li.contacto,
#botonera li.servicios,
#botonera li.nosotros,
#botonera li.obras-otras,
#botonera li.contacto-otras,
#botonera li.servicios-otras {
	height: 12em;
	width: 12em;
}

#botonera li.obras-otras,
#botonera li.contacto-otras,
#botonera li.servicios-otras {
	background-color: rgba(255, 255, 255, 1);
	color: rgba(69, 33, 33, 1);
	opacity: 0.4;
}

#botonera li.obras:hover,
#botonera li.contacto:hover,
#botonera li.servicios:hover,
#botonera li.nosotros:hover,
#botonera li.obras-otras:hover,
#botonera li.contacto-otras:hover,
#botonera li.servicios-otras:hover {
	opacity: 1;
}

/* MENU DE NAVEGACIÓN */
.menu {
	position:absolute;
	float: right;
	bottom: 5%;
	z-index: 50;
	right:5.9%;	
	height: 11.8em;
	width: 11.8em;
	text-align: right;
	color: rgba(69, 33, 33, 1);
	background-color: #fff;
	opacity: .4;
	line-height: 1.4;
	transition: opacity .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
}

.menu:hover {
	opacity: 1;
}

.menu a:visited {
	color: rgba(69, 33, 33, 1);
	display: block;
}

.menu a {
	color: rgba(69, 33, 33, 1);
	display: block;
	text-decoration: none;
}

.menu li a:hover {
	font-weight: bold;
