/*
Style.css: Hoja de estilos del site

TODO: Probar otras resoluciones
Probar en IE6
*/
/* ELEMENTOS COMUNES */
body {
	margin-right: 0;
	padding: 0;
}

html, body{
    /* todo div por encima del fullscreen debe llevar el alto */
    height:100%;
    min-height:100%;
    margin:0;
    overflow: hidden;
    z-index: -1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body.index {
	background:url('../images/home.png') center no-repeat;
	display:block;
	position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}

body.servicios {
	background:url('../images/servicios.png')center no-repeat;
	display:block;position:relative;
	min-width:100%;
	min-height:75%;
	margin-bottom:2px;
	background-size: cover;
}

body.obras {
	background:url('../images/obras.png')center no-repeat;
	display:block;position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}

body.nosotros,
body.contacto {
	background:url('../images/nosotros.png');
	display:block;position:relative;
	min-width:100%;
	min-height:100%;
	margin-bottom:2px;
	background-size: cover;
}


/* CONTENEDOR PRINCIPAL */
#container {
	display:block;
	position:relative;
	z-index:-1;
	min-width:100%;
	min-height:100%;
}

/* TÍTULOS
Temporal: En Construcción
TODO: Modificar "En Construcción" por "Contenido" */
.titulo-home,
.titulo, /* Titulo: lo que Dice "Juan Poggi - Arquitecto */
.en-construccion {
	color: #fff;
}

.titulo-home {
	position: absolute;
	right: 18.750em;
	top: 1.5em;	
}

.titulo {
	position: absolute;
	left: 6.750em;
	top: 1.5em;	
}

.en-construccion {
	position: absolute;
	top: 20em;
	left: 20em;
}

.titulo1 {
	font-size: 28pt;
}

.titulo2 {
	font-size: 16pt;
}

.titulo1-home {
	font-size: 40pt;
}

.titulo2-home {
	font-size: 24pt;
}

.titulo ul li,
.titulo-home ul li {
	display: inline-block;
	padding: 2px 5px; /*Separar el texto*/
	margin:8px; /* Separar los botones */
}

.titulo ul a,
.titulo ul a:visited {
	color: #fff;
	text-decoration: none;
}

/* NAVIGATION BAR AKA BOTONERA */

#botonera {
	color: #fff;
	font-size: 11pt;
	text-align:center;
	vertical-align:middle;
}

#botonera ul li {
	background-color:#241516;
	display: inline-block;
	padding: 2px 7px; /*Separar el texto*/
	margin:8px; /* Separar los botones */
	opacity: .4;
	transition: opacity .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
}

#botonera ul a {
	color: #fff;
	text-decoration: none;
}

#botonera li.servicios {
	top: 1.50em;
	left: 58.5em;
	position: absolute;
}

#botonera li.contacto {
	top: 1.50em;
	left: 71.750em;
	position: absolute;
}

#botonera li.obras,
#botonera li.nosotros {
	top: 1.50em;
	left: 45.250em;
	position: absolute;
}

#botonera li.obras,
#botonera li.contacto,
#botonera li.servicios,
#botonera li.nosotros {
	height: 12em;
	width: 12em;
}

#botonera li.obras:hover,
#botonera li.contacto:hover,
#botonera li.servicios:hover,
#botonera li.nosotros:hover {
	opacity: 1;
}

/* MENU DE NAVEGACIÓN */
.menu {
	position:relative;
	float: right;
	top:20.75em;
	z-index: 5;
	right:1.875em;	
	height: 15em;
	width: 15em;
	text-align: right;
	color: #301617;
	background-color: #fff;
	opacity: .4;
	transition: opacity .75s ease-in-out;
	-moz-transition: opacity .75s ease-in-out;
	-webkit-transition: opacity .75s ease-in-out;
}

.menu:hover {
	opacity: 1;
}

.menu a:visited {
	color: #301617;
	display: block;
}

.menu a {
	color: #301617;
	display: block;
	text-decoration: none;
}

.menu li a:hover {
	font-weight: bold;
}
